@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'Aaaiight';
    src: url('../fonts/aaaiight-fat.ttf');
}

body {
    font-family: 'Raleway';
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}

.logo {
    margin-top: 0;
    width: 100%;
    height: 200px;
}

.check {
    width: 20px;
}

#credenciales,
#cuenta,
#subscricion {
    display: none;
}

form {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

fieldset {
    border: none;
    border-radius: 10px;
    padding: 50px;
    box-shadow: -10px 10px 20px #a0a0a0;
    font-size: 18px;
    margin-bottom: 80px;
}

#subscricion {
    width: 80%;
}

#derecha2,
#derecha1,
#derecha3 {
    margin-top: 40px;
}

#atras1,
#atras2,
#atras3 {
    margin-right: 50px;
    margin-top: 20px;
    height: 100px;
    float: left;
}

#enviar {
    height: 120px;
    float: right;
}

.planes {
    height: 500px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: 'Aaaiight';
    text-align: center;
}

.card {
    position: relative;
    height: 500px;
    width: 20%;
    margin: 25px;
}

.card p {
    font-family: 'Aaaiight';
    font-size: 40px;

}

.card div {
    border-radius: 10px;
    margin: 15px;
    box-shadow: -10px 10px 20px #a0a0a0;
    font-size: 18px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front {
    transform: perspective(500px) rotateY(0deg);
}

.card .front img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card .back {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(500px) rotateY(360deg);
}
